# file has to be located in:
# /etc/systemd/system/
[Unit]
Description=Hedgehog Boot
After=network.target

[Service]
WorkingDirectory=/home/pi/HedgehogBundle/boot
# ENV_NAME will be sed'ed to the real env name on installation into the systemd folder
ExecStart=/home/pi/HedgehogBundle/boot/bin/hedgehog-boot ENV_NAME
User=root

[Install]
WantedBy=multi-user.target
