# file has to be located in:
# /etc/systemd/system/
[Unit]
Description=Hedgehog Server
After=network.target

[Service]
WorkingDirectory=/home/pi/HedgehogBundle/server
ExecStart=/usr/bin/make autorun-server
User=pi

[Install]
WantedBy=multi-user.target
